
.main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    
}

.main-form h1{
    font-size: 35px;
    font-weight: 300;
    color: red;
}

.main-form form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding: 40px ;
    box-shadow: rgba(50,50,93,0.25) 0px 2px 5px -1px,
    rgba(0,0,0,0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    flex-direction: column;
    max-width: 100%;
    width: 350px;
    gap: 20px;
}

.main-form form h1{
    font-size: 30px;
    color: #e7195a;
    font-weight: 500;
}

.main-form form .field{
    width: 100%;
}

.main-form form label{
    display: block;
    font-size: 20px;
}
.main-form form input{
    display: block;
    outline: none;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.main-form form button{
    border: none;
    background-color: #e7195a;
    color: white;
    outline: none;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.main-form form button:hover{
    transform: scale(1.05);
}

@media (max-width:768px){
    .main-form form{
        padding: 30px;
        width: 300px;
    }
}

/*  */
/* Add these styles to your existing CSS file */

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-wrapper input {
    width: 100%;
    padding-right: 2.5rem; /* adjust if needed */
}

.password-toggle-icon {
    position: absolute;
    right: 0.75rem; /* adjust if needed */
    cursor: pointer;
}
