
.record-container{
    display: flex;
    justify-content:start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    padding: 0 20px;
}
.record{
    background-color: white;
width:300px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(50,50,93,0.25) 0px 2px 5px -1px,
    rgba(0,0,0,0.3) 0px 1px 3px -1px;
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
}

.record h1{
    color: #1aac83;  
    font-size: 28px;
}

.record p{
    font-size: 18px;
}

.record .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* position: absolute;
    top: 10px; right: 10px;
    padding: 10px 0; */
}

.record .btns button{
    outline: none;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    transition: 0.2s;
}

.record .btns button:hover{
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .record-container {
      justify-content: center; 
      align-items: center; 
    }
  }