
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: lightgray;
    padding: 0 200px ;
}

nav a {
    font-size: 25px;
    font-weight: 500;
}

nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav .menu a{
    font-size: 20px;
    font-weight: 400;
}